{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-5 profile-main">
    <div class="card col-md-8 col-sm-12 shadow-sm px-5 pt-3">
        {% if profile.image %}
        <div class="profile-page-image"><img src="{{ profile.image.url }}" class="rounded-circle" width="100"
                height="100" /></div>
        {% endif %}
        {% if profile.name %}
        <h3 class="py-4 justify-content-center" style="display:flex ;">{{ profile.name }}
            <span>
                {% if request.user.phone == profile.phone %}
                <a href="" style="color: #333;"><i class="far fa-edit"></i></a>
                {% endif %}
            </span>
        </h3>
        {% endif %}
        <div>
            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <h5 class="follower-div">Followers</h5>
            <h5 class="follower-count">{{ number_of_followers }}</h5>
            {% if profile.phone == request.user.phone %}
            {% else %}
            {% if is_following %}
            <form method="POST" action="{% url 'remove_follower' profile.phone %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type=submit>UnFollow</button>
            </form>
            {% else %}
            <form method="POST" action="{% url 'add_follower' profile.phone %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type=submit>Follow</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        <div class="card profile-card">
            <div class="div-post-flex d-flex">
                {% for item in posts %}
                {% if item.image %}
                <img src="{{ item.image.url }}" class="profile-post-img img-fluid" />
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}